@model OMS.UI.Areas.Settings.ViewModels.PurchaseVM;


<div class="modal fade" id="mdlCurrenceyShow">
    <div class="modal-dialog modal-xl" id="PlaceHolderHere">
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <form asp-action="Purchase" method="post">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4 class="card-title">Purchase Index</h4>
                        </div><!--end col-->
                    </div>  <!--end row-->
                </div><!--end card-header-->
                <div class="card-body">
                    <div class="row col-lg-12 mt-2 ms-1">
                        <div class="col-lg-3">
                            <div class="text-center">
                                <h4 class="text-muted">Purchase Order</h4>
                            </div>
                            <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                                <div class="card-body">
                                    <input id="txtId" type="hidden" name="Id" value="@Model.PurchaseOrders.Id" />
                                    <div class="row mt-2">
                                        <span>Purchase Order Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.PurchaseOrders.PurchaseOrderPrefix" type="text" placeholder="Enter Order Prefix" class="form-control" name="PurchaseOrders.PurchaseOrderPrefix" id="txtPurchaseOrderPrefix" />
                                        <span asp-validation-for="PurchaseOrders.PurchaseOrderPrefix" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Purchase Order Number Seprator
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.PurchaseOrders.PurchaseOrderNumberSeperater" type="text" placeholder="Order Number Seperator" class="form-control" name="PurchaseOrders.PurchaseOrderNumberSeperater" id="txtPurchaseOrderNoSeperator" />
                                        <span asp-validation-for="PurchaseOrders.PurchaseOrderNumberSeperater" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Purchase Order Number Digits
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.PurchaseOrders.PurchaseOrderNumberDigits" type="number" placeholder="Order Number Digits" class="form-control" name="PurchaseOrders.PurchaseOrderNumberDigits" id="txtPurchaseOrderNoDigits" />
                                        <span asp-validation-for="PurchaseOrders.PurchaseOrderNumberDigits" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Purchase Order Number Example
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.PurchaseOrders.PurchaseOrderNumberExample" type="text" placeholder="Order Number Example" class="form-control font-spacing-bold" name="PurchaseOrders.PurchaseOrderNumberExample" id="txtPurchaseOrderNoExample" disabled="disabled" />
                                        <span asp-validation-for="PurchaseOrders.PurchaseOrderNumberExample" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center">
                                <h4 class="text-muted">Bill Order</h4>
                            </div>
                            <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                                <div class="card-body">
                                    <input id="txtId" type="hidden" name="Id" value="@Model.BillOrders.Id" />
                                    <div class="row mt-2">
                                        <span>Bill Order Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.BillOrders.BillOrderPrefix" type="text" placeholder="Enter Bill Order Prefix" class="form-control" name="BillOrders.BillOrderPrefix" id="txtBillOrderPrefix" />
                                        <span asp-validation-for="BillOrders.BillOrderPrefix" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Bill Order Number Seprator
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.BillOrders.BillOrderNumberSeperater" type="text" placeholder="Bill Order Number Separator" class="form-control" name="BillOrders.BillOrderNumberSeperater" id="txtBillOrderNoSeperator" />
                                        <span asp-validation-for="BillOrders.BillOrderNumberSeperater" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Bill Order Digits
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.BillOrders.BillOrderNumberDigits" type="number" placeholder="Bill Order Digits" class="form-control" name="BillOrders.BillOrderNumberDigits" id="txtBillOrderNoDigits" />
                                        <span asp-validation-for="BillOrders.BillOrderNumberDigits" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Bill Order Example
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.BillOrders.BillOrderNumberExample" type="text" placeholder="Bill Order Number Example" class="form-control font-spacing-bold" name="BillOrders.BillOrderNumberExample" id="txtBillOrderNoExample" disabled="disabled" />
                                        <span asp-validation-for="BillOrders.BillOrderNumberExample" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="text-center">
                                <h4 class="text-muted">Vendor Credit</h4>
                            </div>
                            <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                                <div class="card-body">
                                    <input id="txtId" type="hidden" name="Id" value="@Model.VendorCreditOrders.Id" />
                                    <div class="row mt-2">
                                        <span>Vendor Credit Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.VendorCreditOrders.VendorCreditPrefix" type="text" placeholder="Vendor Credit Prefix" class="form-control" name="VendorCreditOrders.VendorCreditPrefix" id="txtVendorCreditPrefix" />
                                        <span asp-validation-for="VendorCreditOrders.VendorCreditPrefix" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Vendor Credit Number Seprator
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.VendorCreditOrders.VendorCreditNumberSeperater" type="text" placeholder="Vendor Credit Number Separator" class="form-control" name="VendorCreditOrders.VendorCreditNumberSeperater" id="txtVendorCreditNoSeperator" />
                                        <span asp-validation-for="VendorCreditOrders.VendorCreditNumberSeperater" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Vendor Credit Number Digits
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.VendorCreditOrders.VendorCreditNumberDigits" type="number" placeholder="Vendor Credit Number Digits" class="form-control" name="VendorCreditOrders.VendorCreditNumberDigits" id="txtVendorCreditNoDigits" />
                                        <span asp-validation-for="VendorCreditOrders.VendorCreditNumberDigits" class="text-danger"></span>
                                    </div>
                                    <div class="row mt-4">
                                        Vendor Credit Number Example
                                    </div>
                                    <div class="row mt-2">
                                        <input value="@Model.VendorCreditOrders.VendorCreditNumberExample" type="text" placeholder="Vendor Credit Number Example" class="form-control font-spacing-bold" name="VendorCreditOrders.VendorCreditNumberExample" id="txtVendorCreditNoExample" disabled="disabled" />
                                        <span asp-validation-for="VendorCreditOrders.VendorCreditNumberExample" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-de-primary float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end row-->
@section Scripts {
    <script type="text/javascript">
            $.event.special.inputchange = {
            setup: function() {
                var self = this, val;
                $.data(this, 'timer', window.setInterval(function() {
                    val = self.value;
                    if ( $.data( self, 'cache') != val ) {
                        $.data( self, 'cache', val );
                        $( self ).trigger( 'inputchange' );
                    }
                }, 20));
            },
            teardown: function() {
                window.clearInterval( $.data(this, 'timer') );
            },
            add: function() {
                $.data(this, 'cache', this.value);
            }
        };

        $('#txtPurchaseOrderPrefix').on('inputchange', function() {
                   var prefix = $("#txtPurchaseOrderPrefix").val();
                    var seperator = $("#txtPurchaseOrderNoSeperator").val();
                    var digits = $("#txtPurchaseOrderNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtPurchaseOrderNoExample").val(result);
        });
        $('#txtPurchaseOrderNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtPurchaseOrderPrefix").val();
                    var seperator = $("#txtPurchaseOrderNoSeperator").val();
                    var digits = $("#txtPurchaseOrderNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtPurchaseOrderNoExample").val(result);
        });
        $('#txtPurchaseOrderNoDigits').on('inputchange', function() {
                   var prefix = $("#txtPurchaseOrderPrefix").val();
                    var seperator = $("#txtPurchaseOrderNoSeperator").val();
                    var digits = $("#txtPurchaseOrderNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtPurchaseOrderNoExample").val(result);
        });


        $('#txtBillOrderPrefix').on('inputchange', function() {
                   var prefix = $("#txtBillOrderPrefix").val();
                    var seperator = $("#txtBillOrderNoSeperator").val();
                    var digits = $("#txtBillOrderNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtBillOrderNoExample").val(result);
        });
        $('#txtBillOrderNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtBillOrderPrefix").val();
                    var seperator = $("#txtBillOrderNoSeperator").val();
                    var digits = $("#txtBillOrderNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtBillOrderNoExample").val(result);
        });
        $('#txtBillOrderNoDigits').on('inputchange', function() {
                   var prefix = $("#txtBillOrderPrefix").val();
                    var seperator = $("#txtBillOrderNoSeperator").val();
                    var digits = $("#txtBillOrderNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtBillOrderNoExample").val(result);
        });


        $('#txtVendorCreditPrefix').on('inputchange', function() {
                   var prefix = $("#txtVendorCreditPrefix").val();
                    var seperator = $("#txtVendorCreditNoSeperator").val();
                    var digits = $("#txtVendorCreditNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtVendorCreditNoExample").val(result);
        });
        $('#txtVendorCreditNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtVendorCreditPrefix").val();
                    var seperator = $("#txtVendorCreditNoSeperator").val();
                    var digits = $("#txtVendorCreditNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtVendorCreditNoExample").val(result);
        });
        $('#txtVendorCreditNoDigits').on('inputchange', function() {
                   var prefix = $("#txtVendorCreditPrefix").val();
                    var seperator = $("#txtVendorCreditNoSeperator").val();
                    var digits = $("#txtVendorCreditNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtVendorCreditNoExample").val(result);
        });
    </script>
}