@using OMS.UI.Areas.Settings.ViewModels
@model TimeLogVM

<div class="row">
	<div class="card">
		<form id="TimeLogUpdate">
			<input id="txtTimeLogId" type="hidden" name="Id" value="@Model.Id" />
			<div class="card-header align-items-center">
				<h4 class="header-title mt-2">Time Log Index</h4>
			</div>
			<div class="card-body">
				<div class="container">
					<div class="row">
						@for (var i = 0; i < Model.CBTimeLogSettings.Count; i++)
						{
							<div class="col-lg-6 g-2">
								<div class="mb-3 text-start">
									<input type="hidden" name="CBTimeLogSettings[@i].IsChecked" value="false" />

									<label class="custom-control-label labelcustom" for="checkbox-@Model.CBTimeLogSettings[i].Id">@Model.CBTimeLogSettings[i].Name</label>
									<div class="form-check form-switch mt-2">
										<input type="checkbox" class="form-check-input" id="checkbox-@Model.CBTimeLogSettings[i].Id" name="CBTimeLogSettings[@i].IsChecked" value="true" @(Model.CBTimeLogSettings[i].IsChecked ? "checked" : "") />
									</div>
									<input type="hidden" name="CBTimeLogSettings[@i].Id" value="@Model.CBTimeLogSettings[i].Id" />
									<input type="hidden" name="CBTimeLogSettings[@i].Name" value="@Model.CBTimeLogSettings[i].Name" />
								</div>
							</div>
						}
					</div>
						<div class="row">
						<div class="col-lg-6 g-2">
							<div class="row mb-3 text-start">
								<div class="col-lg-12">
									<label for="">
										Send time tracker reminders
									</label>
									<div class="form-check form-switch mt-2 ">
										<input id="IsTimeTrackerReminderEnabled" type="checkbox" class="form-check-input" name="IsTimeTrackerReminderEnabled" onclick="toggleTextbox('divTLTime')"
											   placeholder="e.g. Acme Corporation" value="IsTimeTrackerReminderEnabled" @(Model.IsTimeTrackerReminderEnabled ? "checked" : "")>
										@* <span asp-validation-for="IsTimeTrackerReminderEnabled" class="text-danger"></span> *@
									</div>
								</div>
							</div>
							<div class="textbox-container" id="divTLTime" style="@(Model.IsTimeTrackerReminderEnabled ? "display: block;" : "display: none")">
								<div class="row mb-3 text-start">
									<div class="col-lg-12">
										<label for="time">
											Time
											<span class="f-14 mr-1 text-danger">*</span>
										</label>
										<input class="form-control mt-2" type="time" placeholder="" id="TLTime" value="@Model.TLTime" name="TLTime">
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 g-2">
							<div class="row mb-3 mt-2 text-start">
								<div class="col-lg-12">
									<label for="">
										Send Daily Timelog Report
									</label>
									<div class="form-check form-switch mt-2 ">
										<input id="IsDailyTimeLogReportEnabled" type="checkbox" class="form-check-input" name="IsDailyTimeLogReportEnabled" onclick="toggleTextbox('divTLRoles')"
											   placeholder="e.g. Acme Corporation" value="IsDailyTimeLogReportEnabled" @(Model.IsDailyTimeLogReportEnabled ? "checked" : "")>
										@* <span asp-validation-for="IsDailyTimeLogReportEnabled" class="text-danger"></span> *@
									</div>
								</div>
							</div>
							<div class="textbox-container" id="divTLRoles" style="@(Model.IsDailyTimeLogReportEnabled ? "display: block;" : "display: none")">
								<div class="row mb-3 text-start">
									<div class="col-lg-12">
										<label for="role">
											Choose roles for email report
											<span class="f-14 mr-1 text-danger">*</span>
										</label>
										<select class="form-select" name="RoleId" asp-for="@Model.RoleDDSettings.SelectedRoleId" asp-items="@(new SelectList (Model.RoleDDSettings.roleItems, "Id", "Name"))">
										<option value="">--</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-lg-12 text-end">
						<button id="btnTimeLogUpdate" type="button" class="btn btn-de-primary "><i class="mdi mdi-check-all me-2"></i>Update</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section styles {
	<script>
		function toggleTextbox(id) {
			const textbox = document.getElementById(id);
			if (textbox) {
				// Toggle display of the specific textbox
				textbox.style.display = textbox.style.display === 'none' ? 'block' : 'none';
			}
		}

			$(document).ready(function() {
			$('#btnTimeLogUpdate').click(function() {
				var formData = new FormData($('#TimeLogUpdate')[0]);

				var IsTimeTrackerReminderEnabled = $('input[name="IsTimeTrackerReminderEnabled"]').is(":checked");
				var IsDailyTimeLogReportEnabled = $('input[name="IsDailyTimeLogReportEnabled"]').is(":checked");

				formData.set('IsTimeTrackerReminderEnabled', IsTimeTrackerReminderEnabled);
				formData.set('IsDailyTimeLogReportEnabled', IsDailyTimeLogReportEnabled);
				var cbData = $('#TimeLogUpdate').serializeArray();
				var items = [];
				cbData.forEach(function(field) {
					var indexMatch = field.name.match(/\d+/);
					if (indexMatch) {
						var index = indexMatch[0];
						if (!items[index]) {
							items[index] = { Id: 0, Name: "", IsChecked: false };
						}
						if (field.name.includes("IsChecked")) {
							items[index].IsChecked = field.value === "true";
						} else if (field.name.includes("Id")) {
							items[index].Id = parseInt(field.value);
						} else if (field.name.includes("Name")) {
							items[index].Name = field.value;
						}
					}
				});
				items = items.filter(item => item != null);
				var jsonCBData = JSON.stringify(items);

				formData.append('jsonData', jsonCBData);

				$.ajax({
					url: '@Url.Action("UpdateTimeLog", "TimeLog")',
					type: 'POST',
					data: formData,
					processData: false,
					contentType: false,
					success: function(response) {
						if (response.success) {
							alert('Data saved successfully!');
						}
					}
				});
			});
		});
	</script>
}   