@model IEnumerable<OMS.UI.Areas.Settings.ViewModels.ApplicationVM>;

<style type="text/css">
    .vlblue {
        border-left: 1px solid blue;
        border-right: 1px solid blue;
        height: 20px;
    }

    .vlblueright {
        border-right: 1px solid blue;
        height: 20px;
    }
</style>
<div class="modal fade" id="mdlCurrenceyShow">
    <div class="modal-dialog modal-xl" id="PlaceHolderHere">
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-12">

        <div class="card" style="">
             @foreach (var item in Model)
                                {
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Application Index</h4>
                    </div><!--end col-->
                    <div class="col-auto">
                        <button type="button" class="btn btn-de-primary" data-toggle="ajax-modal"
                                data-target="#mdlCurrenceyShow" data-url="@Url.Action($"Edit/{item.Id}")" >
                            <i class="fas fa-pen me-2"></i>Edit Application
                        </button>
                    </div><!--end col-->
                </div>  <!--end row-->
            </div><!--end card-header-->

            <div class="card-body">
                <div class="row mb-3">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                               
                                    <div class="row">
                                        <div class="col-lg-3 vlblueright">
                                            <div class="row">

                                                <input id="txtId" type="hidden" name="Id" value="@item.Id" />
                                                <div class="col-lg-6"><p class="text-muted mb-0">Date Format</p></div>
                                                <div class="col-lg-6"> @item.DateFormat</div>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-3 vlblue">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="text-muted mb-0">
                                                    Time Format
                                                </p>
                                            </div>
                                                <div class="col-lg-6">@item.TimeFormat @item.DefaultTimezone</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 vlblue">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="text-muted mb-0">
                                                    Default Timezone
                                                </p>
                                            </div>
                                                <div class="col-lg-6">@item.DefaultTimezone</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 vlblue">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="text-muted mb-0">
                                                    Default Currency
                                                </p>
                                            </div>
                                                <div class="col-lg-6">@item.CurrencySymbol @item.CurrencyCode</div>
                                        </div>
                                    </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                    <div class="col-lg-3 vlblueright">
                                        <div class="row">
                                            <div class="col-lg-6"><p class="text-muted mb-0">Language</p></div>
                                                <div class="col-lg-6">@item.Language</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 vlblue">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <p class="text-muted mb-0">
                                                    Datatable Row Limit
                                                </p>
                                            </div>
                                                <div class="col-lg-6">@item.DatatableRowLimit</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 vlblue">
                                        <div class="row">
                                            <div class="form-check form-switch form-switch-primary ms-2">
                                                <input class="form-check-input" type="checkbox" id="customSwitchPrimary" disabled="disabled">
                                                <label class="form-check-label" for="customSwitchPrimary">
                                                    Employee can export data
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </form><!--end form-->


                </div>
            </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/matrica/assets/js/pages/app-custom.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).on('load', function() {
         $('#mdlCurrenceyShow').modal({backdrop: 'static', keyboard: false});
        });
    </script>

}
