@model OMS.UI.Areas.Configuration.ViewModels.CompanyVM;
<div class="modal fade" id="mdlCompanyShow">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0" id="">Edit Company Details</h5>
			</div>
			<div class="modal-body">
				<form action="Update">
					<input id="txtId" type="hidden" name="Id" value="@Model.Id" />
					<div class="row mt-3">
						<div class="col-lg-4">Name <span class="text-danger">*</span></div>
						<div class="col-lg-4">Registration Number <span class="text-danger">*</span></div>
						<div class="col-lg-4">Email <span class="text-danger">*</span></div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<input id="txtName" type="text" class="form-control" name="Name" placeholder="enter Name" value="@Model.Name">
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtRegnNumber" type="text" class="form-control" name="RegnNumber" placeholder="enter RegnNumber" value="@Model.RegnNumber">
							<span asp-validation-for="RegnNumber" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtEmail" type="text" class="form-control" name="Email" placeholder="enter Email" value="@Model.Email">
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-lg-4">PhoneNumber <span class="text-danger">*</span></div>
						<div class="col-lg-4">Established Year <span class="text-danger">*</span></div>
						<div class="col-lg-4">Website <span class="text-danger">*</span></div>
					</div>

					<div class="row">
						<div class="col-lg-4">
							<input id="txtPhoneNumber" type="text" class="form-control" name="PhoneNumber" placeholder="enter PhoneNumber" value="@Model.PhoneNumber">
							<span asp-validation-for="PhoneNumber" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtEstablishedYear" type="text" class="form-control" name="EstablishedYear" placeholder="enter EstablishedYear" value="@Model.EstablishedYear">
							<span asp-validation-for="EstablishedYear" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtWebsite" type="text" class="form-control" name="Website" placeholder="enter Website" value="@Model.Website">
							<span asp-validation-for="Website" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-lg-4">BusinessType <span class="text-danger">*</span></div>
						<div class="col-lg-4">Category <span class="text-danger">*</span></div>
						<div class="col-lg-4">Description</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							@Html.DropDownListFor(c => c.BusinessTypeId,
																new SelectList(ViewBag.BusinessTypes, "Id", "Name")
							, "--", new { @class = "form-control" })
							@*<input id="txtBusinessTypeId" type="text" class="form-control" name="BusinessTypeId" placeholder="enter BusinessTypeId" value="@Model.BusinessTypeId">
							  <span asp-validation-for="BusinessTypeId" class="text-danger"></span> *@
						</div>
						<div class="col-lg-4">
							@Html.DropDownListFor(c => c.CategoryId,
																new SelectList(ViewBag.CategoryTypes, "Id", "Name")
							, "--", new { @class = "form-control" })
							@* <input id="txtCategoryId" type="text" class="form-control" name="CategoryId" placeholder="enter CategoryId" value="@Model.CategoryId">
							<span asp-validation-for="CategoryId" class="text-danger"></span> *@
						</div>
						<div class="col-lg-4">
							<textarea id="txtDescription" class="form-control" rows="5" placeholder="enter Description" name="Description">@Model.Description</textarea>
							@* <input id="txtDescription" type="text" class="form-control" name="Description" placeholder="enter Description" value="@Model.Description"> *@
							@* <span asp-validation-for="Description" class="text-danger"></span> *@
						</div>
					</div>
					<div class="row mt-4 text-end ">
						<div class="col-lg-12 ">
							<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
							<button type="button" class="btn btn-sm btn-de-primary" data-save="modal"><i class="mdi mdi-check-all me-2"></i>Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		$(window).on('load', function() {
		 $('#mdlCompanyShow').modal({backdrop: 'static', keyboard: false});
		});
	</script>
}