@model OMS.UI.Areas.Settings.ViewModels.ContractVM;

@section Styles {
}
<div class="modal fade" id="mdlCurrenceyShow">
    <div class="modal-dialog modal-xl" id="PlaceHolderHere">
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Contract Index</h4>
                    </div><!--end col-->
                </div>  <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="row col-lg-12 mt-2 ms-1">
                    <div class="col-lg-3">
                        <div class="text-center">
                            <h4 class="text-muted">Contract </h4>
                        </div>
                        <div class="card" style="box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;">
                            <div class="card-body">
                                <form asp-action="Contract" method="post">
                                    <input id="txtId" type="hidden" name="Id" value="@Model.Id" />
                                <div class="row mt-2">
                                    <span>Contract  Prefix<span class="f-14 ms-1 text-danger">*</span></span>
                                </div>
                                <div class="row mt-2">
                                    <input value="@Model.ContractPrefix" type="text" placeholder="Enter  Prefix" name="ContractPrefix" class="form-control"  id="txtContractPrefix" />
                                    <span asp-validation-for="ContractPrefix" class="text-danger"></span>

                                </div>
                                <div class="row mt-4">
                                    Contract  Number Seprator
                                </div>
                                <div class="row mt-2">
                                    <input value="@Model.ContractNumberSeprator" type="text" placeholder=" Number Seperator" class="form-control" name="ContractNumberSeprator" id="txtContractNoSeperator" />
                                    <span asp-validation-for="ContractNumberSeprator" class="text-danger"></span>

                                </div>
                                <div class="row mt-4">
                                    Contract  Number Digits
                                </div>
                                <div class="row mt-2">
                                    <input value="@Model.ContractNumberDigits" type="number" placeholder=" Number Digits" class="form-control" name="ContractNumberDigits" id="txtContractNoDigits" />
                                    <span asp-validation-for="ContractNumberDigits" class="text-danger"></span>

                                </div>
                                <div class="row mt-4">
                                    Contract  Number Example
                                </div>
                                <div class="row mt-2">
                                    <input value="@Model.ContractNumberExample"asp-for="@Model.ContractNumberExample" type="text" placeholder=" Number Example" class="form-control font-spacing-bold" name="ContractNumberExample" id="txtContractNoExample" >
                                    <span asp-validation-for="ContractNumberExample" class="text-danger"></span>

                                </div>
                                <div class="row mt-4">
                                        <button type="submit" class="btn btn-de-primary float-end"><b><i class="mdi mdi-check-all me-2"></i>Update</b></button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!--end row-->
@section Scripts {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/matrica/assets/js/pages/app-custom.js" type="text/javascript"></script>
    <script type="text/javascript">
            $.event.special.inputchange = {
            setup: function() {
                var self = this, val;
                $.data(this, 'timer', window.setInterval(function() {
                    val = self.value;
                    if ( $.data( self, 'cache') != val ) {
                        $.data( self, 'cache', val );
                        $( self ).trigger( 'inputchange' );
                    }
                }, 20));
            },
            teardown: function() {
                window.clearInterval( $.data(this, 'timer') );
            },
            add: function() {
                $.data(this, 'cache', this.value);
            }
        };

        $('#txtContractPrefix').on('inputchange', function() {
                   var prefix = $("#txtContractPrefix").val();
                    var seperator = $("#txtContractNoSeperator").val();
                    var digits = $("#txtContractNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtContractNoExample").val(result);
        });
        $('#txtContractNoSeperator').on('inputchange', function() {
                   var prefix = $("#txtContractPrefix").val();
                    var seperator = $("#txtContractNoSeperator").val();
                    var digits = $("#txtContractNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtContractNoExample").val(result);
        });
        $('#txtContractNoDigits').on('inputchange', function() {
                   var prefix = $("#txtContractPrefix").val();
                    var seperator = $("#txtContractNoSeperator").val();
                    var digits = $("#txtContractNoDigits").val();
                    var n = "1"; if(digits == "" || digits == "0"){n = "";}
                    digits = n.padStart(digits, '0');
                    var result = prefix + seperator + digits;
                    $("#txtContractNoExample").val(result);
        });
    </script>
}