@using OMS.UI.Areas.Configuration.ViewModels
@model IEnumerable<ProjectSettingVM>
<div class="card">
	<div class="card-header align-items-center">
		<h4 class="card-title"> Project Index</h4>
	</div><!--end card-header-->

	<div class="card-body">
		<form action="ProjectSettingUpdate">
			@foreach (var prSettings in Model)
			{
				<input id="txtId" type="hidden" name="Id" value="@prSettings.Id" />
				<div class="form-group mb-3">
					<div class="mb-3">
						<div class="custom-control custom-checkbox">
							<input name="IsSendReminder" type="checkbox" class="custom-control-input form-check-input-custom me-3"
								   value="@(prSettings.IsSendReminder ? "1" : "0")"
							id="InlineCheckbox" @(prSettings.IsSendReminder ? "checked" : "")>
							<label class="custom-control-label mt-1" for="InlineCheckbox">Send Reminder</label>
						</div>
					</div>
				</div>

				<div class="mb-3 row" style="@(prSettings.IsSendReminder ? "display: block;" : "display: none")" id="ti">

					<label class="col-md-3 my-2 control-label">Send Reminders To</label>
					<div class="row">

						@foreach (var reminderperson in prSettings.projectReminderPersons!)
						{
							<div class="col-md-4">
								<div class="form-check">
									<input class="form-check-input" type="radio" value="@reminderperson.Id"
										   name="ProjectReminderPersonId" id="@reminderperson.Name" @((@reminderperson.Id == prSettings.ProjectReminderPersonId) ? "checked" : "")>
									<label class="form-check-label" for="@reminderperson.Name">
										@reminderperson.Name
									</label>
								</div>
							</div>
						}
					</div>
					<label class="col-md-3 my-2 control-label">Remind Before</label>

					<div class="input-group col-md-3 ">
						<input name="RemindBefore" type="number" class="form-control col-md-3" aria-describedby="proj-days" value="@prSettings.RemindBefore">
						<span class="input-group-text" id="proj-days">days</span>
					</div>

				</div> <!-- end row -->
				<div class="row">
					<div class="col-lg-12 text-end">
						<button id="btnPrjSettingsUpdate" type="button" class="btn btn-de-primary" data-url="@Url.Action($"Edit/{@prSettings.Id}")"><i class="mdi mdi-check-all me-2"></i>update</button>
					</div>
				</div>
			}
		</form>

	</div><!--end card-body-->

</div>

<script type="text/javascript">
		$(document).ready(function() {
		
			$("#btnPrjSettingsUpdate").click(function(){
				const swalWithBootstrapButtons = Swal.mixin({
			  customClass: {
				 confirmButton: "btn btn-de-primary",
				 cancelButton: "btn btn-de-danger me-2"
			  },
			  buttonsStyling: false
		   });

		$("#divBlocker").removeClass("d-none").addClass("screenblocker");

		var form = $(this).parents('.card-body').find('form');
		var actionName = form.attr('action');
		var currentUrl = window.location.href;
		currentUrl = currentUrl.substring(0, currentUrl.lastIndexOf("/") + 1);
		var url = currentUrl + actionName;
		var sendData = form.serialize();
			
			  $.post(url, sendData).done(function (data, status) {
				 $("#divBlocker").addClass("d-none").removeClass("screenblocker");
				 if (status == "success") {
							 swalWithBootstrapButtons.fire({ title: "Updated!",
		 text: "Updated successfully!",
		 icon: "success",
			  allowOutsideClick: false}).then(okay => {
		   if (okay) {
			location.reload();
		  }
		});

				 }
				 else{
					 swalWithBootstrapButtons.fire({
				 title: "Error Occured",
				 text: "Error Occured while Data deletion",
				 icon: "error",
					allowOutsideClick: false
				 });
				 }
			  })
		});
	});
</script>