@model OMS.UI.Areas.Configuration.ViewModels.BusinessLocationVM;
<div class="modal fade" id="mdlBusinessLocationShow">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title mt-0" id="">BusinessLocation Setup</h5>
			</div>
			<div class="modal-body">
				<form action="Delete">
					<div class="row mt-3">
						<div class="col-lg-4">CompanyId <span class="text-danger">*</span></div>
						<div class="col-lg-4">Name <span class="text-danger">*</span></div>
						<div class="col-lg-4">Address1 <span class="text-danger">*</span></div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<input id="txtCompanyId" type="text" class="form-control" name="CompanyId" placeholder="enter CompanyId" value="@Model.CompanyId">
							<span asp-validation-for="CompanyId" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtName" type="text" class="form-control" name="Name" placeholder="enter Name" value="@Model.Name">
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtAddress1" type="text" class="form-control" name="Email" placeholder="enter Address1" value="@Model.Address1">
							<span asp-validation-for="Address1" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-lg-4">Address2 <span class="text-danger">*</span></div>
						<div class="col-lg-4">CountryId <span class="text-danger">*</span></div>
						<div class="col-lg-4">StateId <span class="text-danger">*</span></div>
					</div>

					<div class="row">
						<div class="col-lg-4">
							<input id="txtAddress2" type="text" class="form-control" name="Address2" placeholder="enter Address2" value="@Model.Address2">
							<span asp-validation-for="Address2" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtCountryId" type="text" class="form-control" name="CountryId" placeholder="enter CountryId" value="@Model.CountryId">
							<span asp-validation-for="CountryId" class="text-danger"></span>
						</div>
						<div class="col-lg-4">
							<input id="txtStateId" type="text" class="form-control" name="StateId" placeholder="enter StateId" value="@Model.StateId">
							<span asp-validation-for="StateId" class="text-danger"></span>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-lg-4">CityId <span class="text-danger">*</span></div>
						<div class="col-lg-4">ZipCode <span class="text-danger">*</span></div>
						<div class="col-lg-4">TaxName</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<input id="txtCityId" type="text" class="form-control" name="CityId" placeholder="enter CityId" value="@Model.CityId">
							@* <span asp-validation-for="CityId" class="text-danger"></span> *@
						</div>
						<div class="col-lg-4">
							<input id="txtZipCode" type="text" class="form-control" name="ZipCode" placeholder="enter ZipCode" value="@Model.ZipCode">
							@* <span asp-validation-for="ZipCode" class="text-danger"></span> *@
						</div>
						<div class="col-lg-4">
							<input id="txtTaxName" type="text" class="form-control" name="TaxName" placeholder="enter TaxName" value="@Model.TaxName">
							@* <span asp-validation-for="TaxName" class="text-danger"></span> *@
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-lg-4">TaxNumber <span class="text-danger">*</span></div>
						<div class="col-lg-4">Latitude <span class="text-danger">*</span></div>
						<div class="col-lg-4">Longitude</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<input id="txtTaxNumber" type="text" class="form-control" name="TaxNumber" placeholder="enter TaxNumber" value="@Model.TaxNumber">
							@* <span asp-validation-for="TaxNumber" class="text-danger"></span> *@
						</div>
						<div class="col-lg-4">
							<input id="txtLatitude" type="text" class="form-control" name="Latitude" placeholder="enter Latitude" value="@Model.Latitude">
							@* <span asp-validation-for="Latitude" class="text-danger"></span> *@
						</div>
						<div class="col-lg-4">
							<input id="txtLongitude" type="text" class="form-control" name="Longitude" placeholder="enter Longitude" value="@Model.Longitude">
							@* <span asp-validation-for="Longitude" class="text-danger"></span> *@
						</div>
					</div>
					<div class="row mt-4 text-end ">
						<div class="col-lg-12 ">
							<button type="button" class="btn btn-sm btn-de-danger me-2" data-bs-dismiss="modal"><i class="mdi mdi-window-close me-2"></i>Close</button>
							<button type="button" class="btn btn-sm btn-de-primary" data-save="modal"><i class="mdi mdi-check-all me-2"></i>Delete</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		$(window).on('load', function() {
		 $('#mdlBusinessLocationShow').modal({backdrop: 'static', keyboard: false});
		});
	</script>
}